<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>login</title>
<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
<!--修改背景图-->
<link rel="stylesheet" type="text/css" href="/css/demo.css" />
<!--必要样式-->
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<!--第三方应用-->
<link rel="stylesheet" type="text/css" href="/css/applicationLogin.css" />
<!--[if IE]>
<![endif]-->
</head>
<body>
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<div class="logo_box">
						<h3>Zx博客欢迎你</h3>
						<form action="#" name="f" method="post">
							<div class="input_outer">
								<span class="u_user"></span>
								<input id="username" name="logname" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账户">
							</div>
							<div class="input_outer">
								<span class="us_uer"></span>
								<input id="password" name="logpass" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="password" placeholder="请输入密码">
							</div>
							<div class="mb2"><a id="login_btn" class="act-but submit" href="javascript:;" style="color: #FFFFFF">登录</a></div>
							<div class="mb2"><a href="/blog" class="act-but submit" style="color: #FFFFFF">返回首页</a></div>
                            <div>
								<a href="/login/github"><img class="github"></a>
								<!--<a href="https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=1107837008&redirect_uri=http://www.ictgu.cn/login/qq&state=test"><img class="qq"></a>-->
                            </div>
						</form>
					</div>
				</div>
			</div>
		</div><!-- /container -->
</body>
<script src="/js/html5.js"></script>
<script src="/js/TweenLite.min.js"></script>
<script src="/js/EasePack.min.js"></script>
<script src="/js/rAF.js"></script>
<script src="/js/demo-1.js"></script>
<script src="/js/jquery-3.2.1.js"></script>
<script src="/js/const.js"></script>
<script src="/js/login.js"></script>
</html>