<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>文档管理系统</title>
    <link rel="stylesheet" href="/css/file/common.css" type="text/css"/>
    <link rel="stylesheet" href="/css/file/index.css" type="text/css"/>
    <link rel="stylesheet" href="/css/file/my.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/file/base.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/file/pageGroup.css" type="text/css" media="screen"/>
</head>
<!--顶部-->
<div class="nav">
    <div class="nav cl">
        <div class="nav_z z">
            <!--<img src="/images/file/register01.png"/>-->
        </div>

        <div class="nav_y y">
            <a href="">关于我们</a>
            <span>丨</span>
            <a href="">联系我们</a>
        </div>
        <div class="userNumber y">
            你好,<span></span>
        </div>
    </div>

</div>
<!--顶部结束-->
<!--菜单-->
<div class="left-menu">
    <div class="left-menu-top">
        <a href="javascript:void(0)">
            <div class="left-menu-top-small">
                <!--新建文档-->
                <img src="/images/file/index_01.png"/>
            </div>
        </a>
        <a href="javascript:void(0)">
            <div class="left-menu-top-small">
                <!--上传文档-->
                    <label>
                        <form id="uploadForm" action="/file/uploadmore" enctype="multipart/form-data" method="post">
                            <input id="uploadFile" name="file" type="file" style="position: absolute;opacity: 0;" multiple="multiple" onchange="uploadFile1()" />
                            <img src="/images/file/index_02.png" style="position: absolute;"/>
                        </form>
                    </label>
            </div>
        </a>
    </div>
    <div class="left-menu-one">
        <a href="my.html">
            <div class="left-menu-one-small">
                <!--我的文档-->
                <img src="/images/file/index_03_1.png"/>
            </div>
        </a>
        <a href="zuijin.html">
            <div class="left-menu-one-small">
                <img src="/images/file/index_05.png"/>
            </div>
        </a>
    </div>
    <div class="left-menu-two">
        <a href="excel.html">
            <div class="left-menu-two-small">
                <img src="/images/file/excel01.png"/>
            </div>
        </a>
        <a href="ppt.html">
            <div class="left-menu-two-small">
                <img src="/images/file/ppt01.png"/>
            </div>
        </a>
        <a href="word.html">
            <div class="left-menu-two-small">
                <img src="/images/file/word01.png"/>
            </div>
        </a>
    </div>
    <div class="left-menu-three">
        <a href="caogao.html">
            <div class="left-menu-three-small">
                <img src="/images/file/caogaoxiang01.png"/>
            </div>
        </a>
        <a href="lajixiang.html">
            <div class="left-menu-three-small">
                <img src="/images/file/lajixiang01.png"/>
            </div>
        </a>
    </div>
    <div class="left-menu-four">
        <div class="left-menu-four-small">
            <div class="left-menu-four-small-new"></div>
        </div>
        <div class="contain_four">
            <div class="contain_four_main">
                <span>容量：</span>
                <span class="cont">5</span>GB；可用
                <span class="use">3</span>GB
            </div>
            <div class="max_add">
                <button class="max_container" >升级容量</button>
            </div>
        </div>
    </div>

    <div class="foot">
        <a href="">返回意见</a>丨
        <a href="">帮助中心</a>
    </div>
</div>
<!--菜单end-->
<!--菜单右边的iframe页面-->
<div id="right-content" class="right-content">
    <div class="content">
        <div id="page_content">
            <div class="zuijinTop cl">
                <img src="/images/file/xiazai.png" class="xiazai z" alt="下载文件">
                <img src="/images/file/yidong.png" class="yidong z" alt="移动文件">
                <img src="/images/file/chong.png" class="chong z" alt="重命名">
                <img src="/images/file/shanchu.png" class="shanchu z" alt="删除文件">
                <img src="/images/file/xinjian.png" class="xin z" alt="新建文件夹">
                <!--<div class="sousuo y">-->
                    <!--<div class="ss1 z"></div>-->
                    <!--<input type="text" placeholder="请输入关键字搜索文件" class="z sousouInput" />-->
                <!--</div>-->
            </div>
            <div class="zuijinTitle cl">
                <img src="/images/file/select.png" data-all="no" class="z allIcon allSelect" alt="">
                <div class="z the">我的文档</div>
            </div>
            <div class="content cl" style="padding-left: 2%;height:500px;overflow-y:auto;pisition:relative;">
                <!--动态获取文件内容-->
                <div th:each="file : ${files}" th:class="${file.tag} gt 6 ? 'box template' : 'box2 template'" data-show="no">
                    <img th:src="${file.fileImage}" th:id="${file.id}" class="icon" alt="">
                    <div>
                        <p th:text="${file.fileName}"></p>
                        <input type="text" class="none">
                    </div>
                    <img src="/images/file/select.png" class="select" alt="">
                </div>

                <!--&lt;!&ndash;文件夹例子&ndash;&gt;-->
                <!--<div class="box template" data-show="no">-->
                    <!--<img src="/images/file/wenjian.png" class="icon" alt="">-->
                    <!--<div>-->
                        <!--<p>文件</p>-->
                        <!--<input type="text" class="none">-->
                    <!--</div>-->
                    <!--<img src="/images/file/select.png" class="select" alt="">-->
                <!--</div>-->
                <!--&lt;!&ndash;ppt例子&ndash;&gt;-->
                <!--<div class="box2 template" data-show="no">-->
                    <!--<img src="/images/file/icon2.png" class="icon" alt="">-->
                    <!--<div>-->
                        <!--<p>ppt例子</p>-->
                        <!--<input type="text" class="none">-->
                    <!--</div>-->
                    <!--<img src="/images/file/select.png" class="select" alt="">-->
                <!--</div>-->
                <!--&lt;!&ndash;xls例子&ndash;&gt;-->
                <!--<div class="box2 template" data-show="no">-->
                    <!--<img src="/images/file/icon1.png" class="icon" alt="">-->
                    <!--<div>-->
                        <!--<p>xls例子</p>-->
                        <!--<input type="text" class="none">-->
                    <!--</div>-->
                    <!--<img src="/images/file/select.png" class="select" alt="">-->
                <!--</div>-->
                <!--&lt;!&ndash;word例子&ndash;&gt;-->
                <!--<div class="box2 template" data-show="no">-->
                    <!--<img src="/images/file/icon3.png" class="icon" alt="">-->
                    <!--<div>-->
                        <!--<p>word例子</p>-->
                        <!--<input type="text" class="none">-->
                    <!--</div>-->
                    <!--<img src="/images/file/select.png" class="select" alt="">-->
                <!--</div>-->
                
            </div>
            <div style='width:90%;position:fixed;bottom:10px;margin:auto'>
                    <div id="pageGro" class="cb">
                        <div class="pageUp">上一页</div>
                        <div class="pageList">
                            <ul>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                            </ul>
                        </div>
                        <div class="pageDown">下一页</div>
                    </div>
                </div>
            <!--移动弹窗-->
            <div class="moveBox none">
                <div class="moveTitle">
                        <span>移动到</span>
                </div>
                <div class="closeMove">+</div>
                <div class="wenjian cl">
                    <img src="/images/file/icon3.png" class="z"  alt="">
                    <p class="z name">劳动合同XX</p>
                    <p class="z size">29.8K</p>
                </div>
                <div class="urlBox">
                        <div class="urlBoxTitle">
                            选择目标文件夹
                        </div>
                    <div class="contentMain cl">
                        <div class="templateUrl z">
                            <div class="arrow z none"></div>
                            <img src="/images/file/wenjian.png" class="z" alt="">
                            <p class="z">我的文档</p>
                        </div>
                        <div class="templateUrl z">
                            <div class="arrow z"></div>
                            <img src="/images/file/wenjian.png" class="z" alt="">
                            <p class="z">我的文档</p>
                        </div>
                        <div class="templateUrl z">
                            <div class="arrow z"></div>
                            <img src="/images/file/wenjian.png" class="z" alt="">
                            <p class="z">我的文档</p>
                        </div>
                    </div>
                </div>
                <input type="button" class="y quxiao" value="取消">
                <input type="button" class="y ok" value="确定">
            </div>
        </div>
    </div>
</div>

<body>
<script type="text/javascript" src="/js/file/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/file/pageGroup.js"></script>
<script type="text/javascript" src="/js/file/index.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script>
    $(".sousouInput").blur(function(){
        $(".sousuo").css({
            border:"1px solid #ccc"
        });
        $(".ss1").removeClass("focusState");
    });
    $(".sousouInput").focus(function(){
        $(".sousuo").css({
            border:"1px solid #9cf"
        });
        $(".ss1").addClass("focusState");
    });
    $(".zuijinTitle").css({
        width:$(window).width()-237
    });
    $(".content").css({
       width:$(window).width()-237
    });

    $("#page_content").css({
        width:$(window).width()-237
    });

    $(".allIcon").click(function(){
        if($(this).attr("data-all")=="yes"){
            $(this).attr("src","/images/file/select.png");
            $(".select").attr("src","images/select.png");
            $(this).attr("data-all","no");
            $(".template").attr("data-show","no");
            $(".template").removeClass("box2H");
        }else{
            $(this).attr("src","/images/file/selectC.png");
            $(".template").attr("data-show","yes");
            $(this).attr("data-all","yes");
            $(".template").addClass("box2H");
            $(".select").attr("src","/images/file/selectC.png");
        }
    });

    bindMyClick();

    function  bindMyClick(){
        $(".content .template").each(function(){
           $(this).click(function(){
               if($(this).attr("data-show")=="yes"){
                   $(this).removeClass(".box2C");
                   $(this).removeClass(".box2H");
                   $(this).find(".select").attr("src","/images/file/select.png");
                   $(this).attr("data-show","no");
//                   $(this).find(".select").hide();
               }else {
                   $(this).addClass(".box2C");
                   $(this).addClass(".box2H");
                   $(this).find(".select").attr("src","/images/file/selectC.png");
                   $(this).attr("data-show","yes");
                   $(this).find(".select").show();
               }
           });
        });
    }


    $(".contentMain .templateUrl").each(function(e){
        $(".contentMain .templateUrl").eq(e).click(function(){
            $(".contentMain p").removeClass("templateUrlClickP");
            $(".contentMain p").eq(e).addClass("templateUrlClickP");
       });
    });
    /*移动点击操作*/
    $(".yidong").click(function(){
        $(".moveBox").show();
    });
    /*删除点击操作*/
    $(".shanchu").click(function(){
            //获取选中的内容的id
            var arr = [];
            $('.icon').each(function () {
                if ($(this).parent().attr('data-show') === 'yes') {
                    arr.push($(this).attr('id'));
                }
            });
            if(confirm("确定删除文件") == false){
                return ;
            }
        $.ajax({
            url: "http://localhost:8080/file/delete",
            type: "POST",
            datatype: "json",
            data: {
                ids : arr.toString()
            },
            error: function(e) {
                console.log("error", e.statusText);
                alert("删除失败")
            },
            success: function(res) {
                location.reload()
            },
            complete: function(d) {
                console.log("done");
            }
        });
    });
    $(".closeMove,.ok,.quxiao").click(function(){
       $(".moveBox").hide();
    });

    function  uploadFile1() {
        var flag = confirm("确定上传此文件嘛?");
        if(flag == true){
            $("#uploadForm").ajaxSubmit({
                success: function (e) {
                    var status = e.status;
                    if(status == 200){
                        location.reload();

                    }else{
                        alert(e.msg);
                    }
                },
                error: function (e) {
                    console.log("error", e.statusText);
                }
            });
        }
    }
</script>

</body>
</html>