<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文档管理系统</title>
    <link rel="stylesheet" href="css/common.css" type="text/css"/>
    <link rel="stylesheet" href="css/index.css" type="text/css"/>
    <link rel="stylesheet" href="css/zuijin.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="page/base.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="page/pageGroup.css" type="text/css" media="screen"/>
</head>
<!--顶部-->
<div class="nav">
    <div class="nav cl">
        <div class="nav_z z">
            <img src="images/register01.png"/>
        </div>

        <div class="nav_y y">
            <a href="">关于我们</a>
            <span>丨</span>
            <a href="">联系我们</a>
        </div>
        <div class="userNumber y">
            你好,<span>13980510085</span>
        </div>
    </div>

</div>
<!--顶部结束-->
<!--菜单-->
<div class="left-menu">
    <div class="left-menu-top">
        <a href="javascript:void(0)">
            <div class="left-menu-top-small">
                <img src="images/index_01.png"/>
            </div>
        </a>
        <a href="javascript:void(0)">
            <div class="left-menu-top-small">
                <img src="images/index_02.png"/>
            </div>
        </a>
    </div>
    <div class="left-menu-one">
        <a href="my.html">
            <div class="left-menu-one-small">
                <img src="images/index_03.png"/>
            </div>
        </a>
        <a href="zuijin.html">
            <div class="left-menu-one-small">
                <img src="images/index_05_01.png"/>
            </div>
        </a>
    </div>
    <div class="left-menu-two">
        <a href="excel.html">
            <div class="left-menu-two-small">
                <img src="images/excel01.png"/>
            </div>
        </a>
        <a href="ppt.html">
            <div class="left-menu-two-small">
                <img src="images/ppt01.png"/>
            </div>
        </a>
        <a href="word.html">
            <div class="left-menu-two-small">
                <img src="images/word01.png"/>
            </div>
        </a>
    </div>
    <div class="left-menu-three">
        <a href="caogao.html">
            <div class="left-menu-three-small">
                <img src="images/caogaoxiang01.png"/>
            </div>
        </a>
        <a href="lajixiang.html">
            <div class="left-menu-three-small">
                <img src="images/lajixiang01.png"/>
            </div>
        </a>
    </div>
    <div class="left-menu-four">
        <div class="left-menu-four-small">
            <div class="left-menu-four-small-new"></div>
        </div>
        <div class="contain_four">
            <div class="contain_four_main">
                <span>容量：</span>
                <span class="cont">5</span>GB；可用
                <span class="use">3</span>GB
            </div>
            <div class="max_add">
                <button class="max_container" >升级容量</button>
            </div>
        </div>
    </div>

    <div class="foot">
        <a href="">返回意见</a>丨
        <a href="">帮助中心</a>
    </div>
</div>
<!--菜单end-->
<!--菜单右边的iframe页面-->
<div id="right-content" class="right-content">
    <div class="content">
        <div id="page_content">
            <div class="zuijinTop cl">
                <img src="images/qingkong.png" class="qingkong z" alt="">
                <div class="sousuo y">
                     <div class="ss1 z"></div>
                    <input type="text" placeholder="请输入关键字搜索文件" class="z sousouInput" />
                </div>
            </div>
            <div class="zuijinTitle">
                    15天前
            </div>
            <div class="content cl">
                <div class="template cl">
                    <img src="images/icon1.png" class="z" alt="">
                    <p class="z name">劳动合同</p>
                    <p class="y time">2016-02-14<span>12:11:01</span></p>
                    <p class="y size">20.1K</p>
                </div>
                <div class="template cl">
                    <img src="images/icon2.png" class="z" alt="">
                    <p class="z name">劳动合同</p>
                    <p class="y time">2016-02-14<span>12:11:01</span></p>
                    <p class="y size">20.1K</p>
                </div>
                <div class="template cl">
                    <img src="images/icon3.png" class="z" alt="">
                    <p class="z name">劳动合同</p>
                    <p class="y time">2016-02-14<span>12:11:01</span></p>
                    <p class="y size">20.1K</p>
                </div>
                <div class="template cl">
                    <img src="images/icon1.png" class="z" alt="">
                    <p class="z name">劳动合同</p>
                    <p class="y time">2016-02-14<span>12:11:01</span></p>
                    <p class="y size">20.1K</p>
                </div>
                <div class="template cl">
                    <img src="images/icon1.png" class="z" alt="">
                    <p class="z name">劳动合同</p>
                    <p class="y time">2016-02-14<span>12:11:01</span></p>
                    <p class="y size">20.1K</p>
                </div>
                <div class="template cl">
                    <img src="images/icon2.png" class="z" alt="">
                    <p class="z name">劳动合同</p>
                    <p class="y time">2016-02-14<span>12:11:01</span></p>
                    <p class="y size">20.1K</p>
                </div>
            </div>
            <div id="pageGro" class="cb">
                <div class="pageUp">上一页</div>
                <div class="pageList">
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ul>
                </div>
                <div class="pageDown">下一页</div>
            </div>
        </div>
    </div>
</div>

<body>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="page/pageGroup.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script>
    $(".sousouInput").blur(function(){
        $(".sousuo").css({
            border:"1px solid #ccc"
        });
        $(".ss1").removeClass("focusState");
    });
    $(".sousouInput").focus(function(){
        $(".sousuo").css({
           border:"1px solid #9cf"
        });
        $(".ss1").addClass("focusState");
    });
    $(".zuijinTitle").css({
        width:$(window).width()-237
    });
</script>
</body>
</html>