<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link href="/css/book.css" rel="stylesheet">
<link href="/css/button.css" rel="stylesheet">
<link href="/css/form.css" rel="stylesheet">
<link href="/css/layout.css" rel="stylesheet" type="text/css" />
<head>
    <meta charset="UTF-8">
    <title>图书馆</title>
</head>
<body>
<style>
    .in{height:30px;border-radius:4px;}
    .getS{background:#69Ea7c;color:#fff;padding:5px;padding-left:20px;padding-right:20px;border-radius:4px;}
    .getS:HOVER{background:#49D44d;cursor:pointer;}
</style>
<div style="padding-Top:5px;background:#ddd;height:40px">
    <label style="margin-left:45px">书名：</label> <input class="in" id="selectName"/>
    <label>作者：</label> <input class="in" id="selectAuthor"/>
    <label>类别:</label>
    <select id="selectType">
    <option value="文学">文学</option>
    <option value="青春">青春</option>
    <option value="小说">小说</option>
    <option value="艺术">艺术</option>
    <option value="动漫/幽默">动漫/幽默</option>
    <option value="娱乐时尚">娱乐时尚</option>
    <option value="旅游">旅游</option>
    <option value="美食">美食</option>
    <option value="两性">两性</option>
    <option value="体育">体育</option>
    <option value="历史">历史</option>
    <option value="经济">经济</option>
    <option value="工具书">工具书</option>
</select>
    <label onclick="selectNeedBook()" class="getS"> 查 询 </label>
    <label onclick="selectNeedBook(1)" class="getS"> 显示全部</label>
</div>
    <table id="mytable" border="1"  class="table table-border table-bordered table-striped">
        <tr >
            <!--<td><input type="checkbox" name="checkAll" onclick="funSelAll()" value="1"></td>-->
            <td hidden="hidden">id</td>
            <td>书名</td>
            <td>类别</td>
            <td>作者</td>
            <td>出版社</td>
            <td>出版时间</td>
            <td>剩余数量</td>
            <td>总数</td>
            <td>操作</td>
        </tr>
        <tbody id="tbody">

        <tr th:each="book : ${books}" th:class="${book.remain} gt 0 ? 'active' : 'danger'">
            <!--<td><input type="checkbox" name="checkbook" th:value="${book.id}"></td>-->
            <!--<td th:text="${book.id}" hidden="hidden">1</td>-->
            <td th:text="${book.name}">1</td>
            <td th:text="${book.type}">1</td>
            <td th:text="${book.author}">2</td>
            <td th:text="${book.company}">3</td>
            <td th:text="${book.publishtime}">4</td>
            <td th:id="${book.id}" th:text="${book.remain}">5</td>
            <td th:text="${book.total}">6</td>
            <td><input th:id="${book.id}" th:name="${book.id}" type="button" class="btn btn-success"
                       th:onclick="${book.flag} eq true ?  'cancelbook(this.id)': 'borrowbook(this.id)' " th:value="${book.flag} eq true ? '取消预约' : '预约'"></td>
        </tr>
        </tbody>
    </table>
</body>
<script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
<script src="/js/jquery.min.js?v=2.1.4"></script>
<script src="/js/const.js"></script>
<script src="/js/findbook.js"></script>
</html>