<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
</head>
<body>
<h1 align="center">信息完善</h1>
<div align="center">
       姓名:<input type="text" name="name"  value=""/>
       <br/>
       学号:<input type="text" name="stu_card" value=""/>
       <br/>
       电话号码:<input type="text" name="phone" value=""/>
       <br/>
       <input id="male" type="radio" checked="checked" name="sex" />男
       <input id="female" type="radio" checked="checked" name="sex"/>女
       <br/>
       院系:<input type="text" name="department" value=""/>
       <br/>
       个人介绍<input type="text"  name="introduction" value=""/>
       <br/>
       <button id="message_btn">提交</button>
</div>
</body>
<script src="/js/jquery-3.2.1.js"></script>
<script src="/js/const.js"></script>
<script src="/js/userMessage.js"></script>
</html>